# Runtime requirements
--requirement requirements.txt

# Linting/Tooling
autopep8
black
codespell
flake8
isort
mypy
pur
pycodestyle
pyflakes
pylint

# Testing
coverage
pytest
pytest-cov

# Building
twine

# Documentation
mkdocs
mkdocstrings
mkdocstrings-python
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-material
mkdocs-section-index
Pygments
